USE [master]
GO
/****** Object:  Database [SAMRUM_Master]    Script Date: 2023-03-22 16:55:08 ******/
CREATE DATABASE [SAMRUM_Master]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAMRUM_Master', FILENAME = N'F:\MSSQL\Data\SAMRUM_Master.MDF' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SAMRUM_Master_log', FILENAME = N'L:\MSSQL\Logs\SAMRUM_Master_Log.LDF' , SIZE = 14976KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAMRUM_Master].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [SAMRUM_Master]
GO
/****** Object:  User [SAMRUMUser]    Script Date: 2023-03-22 16:55:08 ******/
CREATE USER [SAMRUMUser] FOR LOGIN [SAMRUMUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAMRUMReportFetcher]    Script Date: 2023-03-22 16:55:08 ******/
CREATE USER [SAMRUMReportFetcher] FOR LOGIN [SAMRUMReportFetcher] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SAMRUMReportDesigner]    Script Date: 2023-03-22 16:55:08 ******/
CREATE USER [SAMRUMReportDesigner] FOR LOGIN [SAMRUMReportDesigner] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SAMRUMUser]
GO
ALTER ROLE [db_owner] ADD MEMBER [SAMRUMReportFetcher]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SAMRUMReportDesigner]
GO
/****** Object:  Table [dbo].[DV_DatabaseVersion]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV_DatabaseVersion](
	[DV_ID] [int] IDENTITY(1,1) NOT NULL,
	[DV_MajorVersion] [int] NOT NULL,
	[DV_MinorVersion] [int] NOT NULL,
	[DV_Revision] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_DV_DatabaseVersion] PRIMARY KEY NONCLUSTERED 
(
	[DV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDB_ProjectDatabase]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDB_ProjectDatabase](
	[PDB_ID] [int] IDENTITY(1,1) NOT NULL,
	[PDB_Name] [varchar](255) NULL,
	[PDB_DatabaseName] [varchar](255) NULL,
	[PDB_Description] [varchar](max) NULL,
 CONSTRAINT [PK_PDB_ProjectDatabase] PRIMARY KEY CLUSTERED 
(
	[PDB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RFU_RoleForUser]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RFU_RoleForUser](
	[US_ID_User] [int] NOT NULL,
	[UR_ID_Role] [int] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_RFU_RoleForUser] PRIMARY KEY CLUSTERED 
(
	[US_ID_User] ASC,
	[UR_ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UPDB_UserInDatabase]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UPDB_UserInDatabase](
	[UPDB_ID] [int] IDENTITY(1,1) NOT NULL,
	[UPDB_US_ID_User] [int] NOT NULL,
	[UPDB_PDB_ID_ProjectDatabase] [int] NOT NULL,
 CONSTRAINT [PK_UPDB_UserInDatabase] PRIMARY KEY CLUSTERED 
(
	[UPDB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY],
 CONSTRAINT [UNQ_UPDB_UserInDatabase_UPDB_US_ID_User_UPDB_PDB_ID_ProjectDatabase] UNIQUE NONCLUSTERED 
(
	[UPDB_US_ID_User] ASC,
	[UPDB_PDB_ID_ProjectDatabase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UR_UserRole]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UR_UserRole](
	[UR_ID] [int] IDENTITY(1,1) NOT NULL,
	[UR_SysName] [varchar](50) NOT NULL,
	[UR_UserFriendlyName] [varchar](50) NOT NULL,
	[UR_Description] [varchar](255) NULL,
	[UR_Derived] [bit] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_UR_UserRole] PRIMARY KEY CLUSTERED 
(
	[UR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[US_User]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[US_User](
	[US_ID] [int] IDENTITY(1,1) NOT NULL,
	[US_UserName] [varchar](255) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[US_Password] [varchar](50) NULL,
	[US_PasswordDigest] [varchar](max) NULL,
	[US_UserEmail] [varchar](max) NULL,
 CONSTRAINT [PK_US_User] PRIMARY KEY CLUSTERED 
(
	[US_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY],
 CONSTRAINT [UNQ_US_User_UniqueUserNames] UNIQUE NONCLUSTERED 
(
	[US_UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAV_ValidApplicationVersion]    Script Date: 2023-03-22 16:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAV_ValidApplicationVersion](
	[VAV_ID] [int] IDENTITY(1,1) NOT NULL,
	[VAV_ApplicationName] [varchar](255) NOT NULL,
	[VAV_MajorVersion] [int] NOT NULL,
	[VAV_MinorVersion] [int] NOT NULL,
	[VAV_ValidUntil] [smalldatetime] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NOT NULL,
	[CHANGED_DATE] [datetime] NOT NULL,
	[timestamp] [timestamp] NOT NULL,
	[VAV_Revision] [int] NOT NULL,
	[VAV_Build] [int] NOT NULL,
 CONSTRAINT [PK_VAV_ValidApplicationVersion] PRIMARY KEY NONCLUSTERED 
(
	[VAV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 20) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DV_DatabaseVersion] ADD  CONSTRAINT [DF_DV_DatabaseVersion_CREATED_BY]  DEFAULT (suser_sname()) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[DV_DatabaseVersion] ADD  CONSTRAINT [DF_DV_DatabaseVersion_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[DV_DatabaseVersion] ADD  CONSTRAINT [DF_DV_DatabaseVersion_CHANGED_BY]  DEFAULT (suser_sname()) FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[DV_DatabaseVersion] ADD  CONSTRAINT [DF_DV_DatabaseVersion_CHANGED_DATE]  DEFAULT (getdate()) FOR [CHANGED_DATE]
GO
ALTER TABLE [dbo].[RFU_RoleForUser] ADD  CONSTRAINT [DF_RFU_RoleForUser_CREATED_BY]  DEFAULT (suser_sname()) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[RFU_RoleForUser] ADD  CONSTRAINT [DF_RFU_RoleForUser_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[RFU_RoleForUser] ADD  CONSTRAINT [DF_RFU_RoleForUser_CHANGED_BY]  DEFAULT (suser_sname()) FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[RFU_RoleForUser] ADD  CONSTRAINT [DF_RFU_RoleForUser_CHANGED_DATE]  DEFAULT (getdate()) FOR [CHANGED_DATE]
GO
ALTER TABLE [dbo].[UR_UserRole] ADD  CONSTRAINT [DF_UR_UserRole_IS_Derived]  DEFAULT ((0)) FOR [UR_Derived]
GO
ALTER TABLE [dbo].[UR_UserRole] ADD  CONSTRAINT [DF_UR_UserRole_CREATED_BY]  DEFAULT (suser_sname()) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[UR_UserRole] ADD  CONSTRAINT [DF_UR_UserRole_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[UR_UserRole] ADD  CONSTRAINT [DF_UR_UserRole_CHANGED_BY]  DEFAULT (suser_sname()) FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[UR_UserRole] ADD  CONSTRAINT [DF_UR_UserRole_CHANGED_DATE]  DEFAULT (getdate()) FOR [CHANGED_DATE]
GO
ALTER TABLE [dbo].[US_User] ADD  CONSTRAINT [DF_US_User_CREATED_BY]  DEFAULT (suser_sname()) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[US_User] ADD  CONSTRAINT [DF_US_User_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[US_User] ADD  CONSTRAINT [DF_US_User_CHANGED_BY]  DEFAULT (suser_sname()) FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[US_User] ADD  CONSTRAINT [DF_US_User_CHANGED_DATE]  DEFAULT (getdate()) FOR [CHANGED_DATE]
GO
ALTER TABLE [dbo].[VAV_ValidApplicationVersion] ADD  CONSTRAINT [DF_VAV_ValidApplicationVersion_CREATED_BY]  DEFAULT (suser_sname()) FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[VAV_ValidApplicationVersion] ADD  CONSTRAINT [DF_VAV_ValidApplicationVersion_CREATED_DATE]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[VAV_ValidApplicationVersion] ADD  CONSTRAINT [DF_VAV_ValidApplicationVersion_CHANGED_BY]  DEFAULT (suser_sname()) FOR [CHANGED_BY]
GO
ALTER TABLE [dbo].[VAV_ValidApplicationVersion] ADD  CONSTRAINT [DF_VAV_ValidApplicationVersion_CHANGED_DATE]  DEFAULT (getdate()) FOR [CHANGED_DATE]
GO
ALTER TABLE [dbo].[RFU_RoleForUser]  WITH CHECK ADD  CONSTRAINT [FK_RFU_RoleForUser_UR_UserRole] FOREIGN KEY([UR_ID_Role])
REFERENCES [dbo].[UR_UserRole] ([UR_ID])
GO
ALTER TABLE [dbo].[RFU_RoleForUser] CHECK CONSTRAINT [FK_RFU_RoleForUser_UR_UserRole]
GO
ALTER TABLE [dbo].[RFU_RoleForUser]  WITH CHECK ADD  CONSTRAINT [FK_RFU_RoleForUser_US_User] FOREIGN KEY([US_ID_User])
REFERENCES [dbo].[US_User] ([US_ID])
GO
ALTER TABLE [dbo].[RFU_RoleForUser] CHECK CONSTRAINT [FK_RFU_RoleForUser_US_User]
GO
ALTER TABLE [dbo].[UPDB_UserInDatabase]  WITH CHECK ADD  CONSTRAINT [FK_UPDB_UserInDatabase_PDB_ProjectDatabase] FOREIGN KEY([UPDB_PDB_ID_ProjectDatabase])
REFERENCES [dbo].[PDB_ProjectDatabase] ([PDB_ID])
GO
ALTER TABLE [dbo].[UPDB_UserInDatabase] CHECK CONSTRAINT [FK_UPDB_UserInDatabase_PDB_ProjectDatabase]
GO
ALTER TABLE [dbo].[UPDB_UserInDatabase]  WITH CHECK ADD  CONSTRAINT [FK_UPDB_UserInDatabase_US_User] FOREIGN KEY([UPDB_US_ID_User])
REFERENCES [dbo].[US_User] ([US_ID])
GO
ALTER TABLE [dbo].[UPDB_UserInDatabase] CHECK CONSTRAINT [FK_UPDB_UserInDatabase_US_User]
GO
USE [master]
GO
